@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Buzinski prilaz 10<br />
    <br />
    <abbr title="Phone">P:</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tarmel@tarmel.hr">tarmel@tarmel.hr</a><br />
</address>